ul li {
  display: block;
  border: 3px dotted #160029;
  width: 150px;
  list-style-type: none;
  padding: 15px 15px 15px;
  margin-bottom: 5px;
  }

  nav ul>li ul {
    position: absolute;
    margin-top: 0;
    margin-left: 100%;
    display: none;
    }
    
    /*special hover to display the drop-down*/
    nav>ul>li:hover>ul{
    display: block;
    }