.paragraph {color: #160029;}

.heading {color: #9D00D6;}

.background {color: #EBEBEB;}

.wrapper * {
    background: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 5fr 20fr 5fr;
    grid-gap: 10px;
    height: 720px;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  @media only screen and (max-width: 640px) {
    header {
        display: block;
        background-color: cadetblue;
        width: 100%;
    }

    #hamburger {
        display: inline-block;
        padding: 10px;
        font-size: 1.5em;
        cursor: pointer; /* Change cursor to pointer */
        color: white; /* Color of the hamburger */
    }

    nav ul {
        display: none; /* Hide the menu by default */
        position: absolute; /* Position it absolutely */
        width: 100%; /* Full width for mobile */
        background-color: cadetblue; /* Background color for visibility */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
    }

    nav ul.show {
        display: block; /* Show when toggle is active */
    }

    nav ul li {
        float: none; /* Stack items vertically */
        width: 100%; /* Full width for mobile items */
    }
}